@model GarageWeb.Models.Vehicle

@{
    ViewBag.Title = "Add";
    
}

<h2>Check in vehicle</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @*Use the regnr we got from controller viewbag*@

            
           @{
               
                
                string Confirmation = ViewBag.Vtype + " with regnr " + ViewBag.Regnr + " owned by " + " " + ViewBag.Persnr;
           }

           
        


        <h4>@Confirmation</h4>
        <p>Check in current vehicle?</p>
        <hr />

        <form>
            @Html.ActionLink("Check in", "ConfirmAdd", new { vtype = ViewBag.Vtype, regnr = ViewBag.Regnr, persnr = ViewBag.Persnr, date = ViewBag.Date })
        </form>
        

        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" @Url.Action("ConfirmAdd", "Garage", new { vtype = ViewBag.Vtype, regnr = ViewBag.Regnr, persnr = ViewBag.Persnr, date = ViewBag.Date }) />
            </div>
        </div>*@
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
