@model IEnumerable<GarageWeb.Models.Vehicle>

@{
    ViewBag.Title = "Index";
}
<form method="get" class="searchfield">
    <input type="text" name="regnr" id="sfield"/> <button type="submit">Submit</button>

	<select id="option" name="option">
		<option value="0">Regnr</option>
		<option value="1">Persnr</option>
		<option value="2">Vehicle Type</option>
	</select>

</form>

<div min-width="480px" display="none">
    <img src="~/Content/QfreeBlue.png" alt="logo" />
</div>


@using (Html.BeginForm("ConfirmDelete", "Garage", FormMethod.Get))
{
    <table id="LotCounter">
        <tr>
            <td>
                Free Lots:
            </td>


            @{

                if (ViewBag.FreeSlots > 0)
                {
                    <td class="counter"><text>@ViewBag.FreeSlots</text></td>
                }
                else
                {
                    <td class="counterred"><text>@ViewBag.FreeSlots</text></td>
                }
            }

        </tr>
    </table>

<!---->
<table class="table">
    <tr>
        <th>
			@Html.ActionLink(@Html.DisplayNameFor(model => model.Regnr).ToString(), "Index", "Garage", new { @filtering = 1 }, null)
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Persnr).ToString(), "Index", "Garage", new { @filtering = 2 }, null)
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.ParkDate).ToString(), "Index", "Garage", new { @filtering = 3 }, null)
        </th>
        <th></th>
    </tr>

	@{
		if (Model != null)
		{
			foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Regnr)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Persnr)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ParkDate)
					</td>
					<td>

						<input id="delbox" type="checkbox" name="id" value="@item.Regnr" />

					</td>
				</tr>
			}
		}
	}

    


</table>

    <input type="submit" id="submitbut" value="Check out" class="btn btn-default" />


}

