@model IEnumerable<GarageWeb.Models.Vehicle>

@{
    ViewBag.Title = "Index";
}
<form method="get" class="searchfield">
    <input type="text" name="regnr" /> <button type="submit">Submit</button>
</form>

@using (Html.BeginForm("Remove", "Garage", FormMethod.Get))
{
    <table id="LotCounter">
        <tr>
            <th>
                Free Lots:
            </th>


			@{ 
				int freelots = Common.FreeLots(Model.Count());


				if (freelots > 0)
				{
					<td class="counter"><text>@freelots</text></td>
				}
				else
				{
					<td class="counterred"><text>@freelots</text></td>
				}
			}

        </tr>
    </table>

<!---->
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Regnr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persnr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkDate)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Regnr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persnr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkDate)
            </td>
            <td>
                
                <input id="delbox" type="checkbox" name="id" value="@item.Regnr" />

            </td>
        </tr>
    }


</table>

    <input type="submit" id="submitbut" value="Check out" class="btn btn-default" />


}

