@model IEnumerable<GarageWeb.Models.Vehicle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!--test-->
<form method="get">
    
    <input type="text" name="regnr" /> <button type="submit">Submit</button>

</form>

@using (Html.BeginForm("ConfirmDelete", "Garage", FormMethod.Get))
{
    <table>
        <tr>
            <th>
                Free Lots
            </th>
            <th id="counter" background ="green">

            </th>
        </tr>
    </table>

<!---->
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Regnr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persnr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkDate)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Regnr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persnr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkDate)
            </td>
            <td>
                
                <input id="delbox" type="checkbox" name="id" value="@item.Regnr" />

            </td>
        </tr>
    }


</table>

    <input type="submit" value="Check out" class="btn btn-default" />

}

