@model IEnumerable<GarageWeb.Models.Vehicle>

@{
    ViewBag.Title = "Remove";
}

<h2>Remove</h2>

<h3>Are you sure you want to checkout these vehicles?</h3>
<div>
    <h4>Vehicle</h4>
    <hr />
@using (Html.BeginForm("ConfirmDelete", "Garage"))
{
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Regnr)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Persnr)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ParkDate)
			</th>
			<th>
				<text>Price</text>
			</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Regnr)
					<input type="hidden" name="id" value="@item.Regnr"/>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Persnr)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ParkDate)
				</td>
				<td>
					@string.Format("{0:0.00}", Common.CalcPrice(item))
				</td>
			</tr>
		}


	</table>


        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            
            <input type="submit" value="Confirm" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
